{% extends 'base.html' %} {%block title%}Aaron Meads | Software
Engineer{%endblock%} {%block content%}

<div class="jumbotron hero">
  <div class="hero-content">
    <h1 class="display-3 hero-title">Aaron Meads</h1>
    <h2>_______</h2>
    <p class="lead mt-5 display-5">Software Engineer</p>
  </div>
</div>
<div data-spy="scroll" data-target="#navbar">
  <div class="section-header about container" id="about">
    <h2>About Me</h2>
    <a href="https://github.com/ameads21" target="_blank" id="githubIcon"
      ><i class="fab fa-github mb-5"></i
    ></a>
    <div class="row">
      <div class="col">
        <img
          src="../static/profile_pic.jpg"
          alt="profile picture"
          class="img-thumbnail rounded"
        />
      </div>
      <p class="col mr-4">
        In the year of 2015, I created my very first game as a video game
        developer. By completing this big achievement in programming, I started
        to develop an interest in the software industry. While expanding my
        knowledge and skillsets through the Software Engineering program with
        Springboard, I have found the different tools and languages needed to
        become a successful software engineer. I have completed projects for
        multiple clients with the knowledge that I have gained. While working
        with these clients, I’ve found that the most precious values for a
        software engineer are knowledge and experience. I look forward to
        speaking with you soon about your ideas and projects.
      </p>
    </div>
  </div>

  <div class="container-fluid key-services section-header" id="experience">
    <h1 class="text-light">Experience</h1>
    <div class="container key-content">
      <div class="row">
        <div class="col col-md-5 mt-5 mt-md-0 key-topic mb-5">
          <div class="icons">
            <i class="fas fa-code"></i>
          </div>
          <h5 class="text-center mb-5">Programming Languages</h5>

          {%for l in languages%}
          <div class="row mt-3">
            <div class="col-4">
              <p>{{l.key}}</p>
            </div>
            <div class="col-8">
              <div class="progress">
                <div
                  class="progress-bar progress-bar"
                  role="progressbar"
                  style="width: {{l.value}}"
                  aria-valuenow="10"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{l.value}}
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>

        <div class="col-2"></div>
        <div class="col col-md-5 mt-5 mt-md-0 key-topic mb-5">
          <div class="icons">
            <i class="fas fa-puzzle-piece"></i>
          </div>
          <h5 class="text-center mb-5">Frameworks/Libraries/Tools</h5>

          {%for f in frameworks%}
          <div class="row mt-3">
            <div class="col-4">
              <p>{{f.key}}</p>
            </div>
            <div class="col-8">
              <div class="progress">
                <div
                  class="progress-bar progress-bar"
                  role="progressbar"
                  style="width: {{f.value}}"
                  aria-valuenow="10"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{f.value}}
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
  <div class="project-container" id="projects">
    <div class="container project-contents">
      <h1 class="text-center mb-5">Projects</h1>
      <div class="row">
        {%for project in projects%}
        <div class="col-lg-3 col-md-4 col-xs-6 mx-auto">
          <div class="card mx-auto">
            <img
              class="card-img project-image mx-auto img-thumbnail"
              src="{{project.image}}"
              alt="{{project.title}}"
            />
            <div class="card-img-overlay">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.languages}}</p>
              <a href="{{project.link}}" class="btn btn-primary" target="_blank"
                >Visit</a
              >
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container p-3 mb-5 mt-5 bg-white rounded" id="contact">
  <h1 class="text-center mt-5">Let's get in touch</h1>
  <p class="text-center">
    If you're interested in my work, or want to get in touch, send an email to <b>aaron.meadsprogram@gmail.com</b>
  </p>
</div>
{%endblock%}
